@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
    --primary-color: #4e73df;
    --success-color: #1cc88a;
    --info-color: #36b9cc;
    --warning-color: #f6c23e;
    --danger-color: #e74a3b;
    --secondary-color: #858796;
    --secondary-dark-color: #5A5C68;
    --secondary-darker-color: #172b3e;
    --secondary-light-color: #FFFFFF;
    --page-background-color: #DDDFEB;
    --input-background-color: #F8F9FC;
    --background-color: #F8F9FC;
    --font-sans-serif: 'Nunito';
}

main {
    text-align: left;
    max-width: fit-content;
    margin: 0px auto;
}

body {
    font-family: var(--font-sans-serif), 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
}

section {
    border: solid 2px var(--secondary-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.plot-area {
    display: inline-block;
    position: relative;
}

@media only screen and (min-width: 1024px) {
    .plot-area {
        max-width: calc(512px - 5rem);
        max-height: calc((512px * 3/4) - 5rem);
        width: 50%;
        height: calc(50vw * 3/4);
    }
}

@media only screen and (max-width: 1024px) {
    .plot-area {
        max-width: calc(384px - 5rem);
        max-height: calc((384px * 3/4) - 5rem);
        width: 50%;
        height: calc(50vw * 3/4);
    }
}

@media only screen and (max-width: 600px) {
    .plot-area {
        width: 100%;
        height: calc(100vw * 3/4);
    }
}

header {
    border-bottom: solid 1px var(--page-background-color);
    text-align: center;
    margin-bottom: 1em;
    font-weight: bolder;
}

#covid-title {
    color: var(--primary-color);
}

#slash-title {
    color: var(--success-color);
}

#title-state {
    color: var(--info-color);
}

h2 {
    text-align: left;
    color: var(--secondary-darker-color);
}

.query-input {
    font-weight: bold;
    color: var(--secondary-darker-color);
    font-size: 24px;
    font-family: var(--font-sans-serif), 'Roboto', sans-serif;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-color);
}

.input-div {
    text-align: left;
    margin: 1rem 0;
    padding: 1rem 0;
}